.buttons-container {
  display: flex;
  justify-content: space-between;
}

.buttons-container div {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}
.buttons-container div * {
  font-size: 1.2rem;
  color: rgb(59, 59, 59);
  cursor: pointer;
}
.table-container {
  margin: 0px 40px;
}
.table {
  height: 10px;
}

.customize-table {
  --easy-table-body-row-height: 56px;
  --easy-table-body-row-font-color: rgb(114, 114, 114);
  --easy-table-body-even-row-font-color: rgb(114, 114, 114);
  --easy-table-body-row-font-size: 0.9rem;
}
