.open-modal-button {
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  background-color: white;
  width: 70%;
  height: 70vh;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-header .close-icon {
  font-size: 1.4rem;
  cursor: pointer;
}

.content {
  display: flex;
  margin: 20px;
}

.content form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.content form label {
  padding: 14px 0;
}
.content form input {
  padding: 10px 0 10px 6px;
  width: 97%;
  border: 1px solid #0000001a;
  font-size: 1.1rem;
  outline: none;
}

.coordinates {
  display: flex;
  width: 98%;
  gap: 25px;
}

.locations {
  display: flex;
  width: 98%;
  gap: 25px;
}

.coordinates div {
  display: flex;
  flex-direction: column;
  width: 98%;
}

.locations div {
  display: flex;
  flex-direction: column;
  width: 98%;
}

.map {
  width: 50%;
}

.modal-buttons-container {
  display: flex;
  flex-grow: 1;
  margin: 0 20px;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 0;
  gap: 14px;
}

.modal-buttons-container button {
  font-weight: 700;
  cursor: pointer;
  width: 115px;
  height: 39px;
}

.modal-buttons-container .save-button {
  background-color: #fa4600;
  color: white;
  border: none;
}

.cancel-button {
  border: 1px solid #0000001a;
  background-color: white;
  color: #00000099;
}
